{% extends "core/base.html" %}
{% load static %}

{% block title %}Contato{% endblock %}

{% block content %}
<div class="container">
    <h1>Entre em contato</h1>
    <p>Se você gostou do meu perfil como estudante de Sistemas de Informação, sinta-se à vontade para me mandar uma mensagem!</p>

    <ul>
        <li><strong>Email:</strong> jania.yasmin@ufrpe.br</li>
        <li><strong>LinkedIn:</strong> <a href="#">linkedin.com/in/jânia-yasmin/</a></li>
        <li><strong>GitHub:</strong> <a href="#">github.com/yasmin-15</a></li>
    </ul>
</div>
{% endblock %}